<html>
  <div class="container">
    <div class="h">
      <h1>Search movie</h1>
      <input placeholder="Search film..." [(ngModel)]="episode_id" type="number">
      <button (click)="search()">Results</button>
    </div>
  </div>
  <div *ngIf="response">
    <div class="film">
      <p>Film name: {{response.title}}</p>
      <p>Director: {{response.director}}</p>
      <p>Producer: {{response.producer}}</p>
      <p>Created: {{response.created}}</p>
      <p>Edited: {{response.edited}}</p>
      <p>Description: {{response.opening_crawl}}</p>
      <p>Release date:{{response.release_date}}</p>
    </div>
  </div>
</html>